<h1>Expenses.index</h1>

<div class="page-portlet-header row" ng-show="data.expenses">
  <div class="col-sm-offset-1 col-sm-10 col-lg-offset-2 col-lg-8">
    <h2 class="text-right">Total {{data.total.toFixed(2)}}</h2>
  </div>
</div>

<div class="expenses-list page-portlet-data row" ng-show="data.expenses">
  <div class="col-sm-offset-1 col-sm-10 col-lg-offset-2 col-lg-8">
    <div class="list-group">
      <a  expense-facet="expense"
          expense-facet-update="ctrl.updateExpense(expense)"
          expense-facet-delete="ctrl.deleteExpense(expense)"
          ng-repeat="expense in data.expenses"
          ng-href="#/expenses/{{expense.uuid}}"
          class="list-group-item am-fade-and-scale"></a>
    </div>
  </div>
</div>

<div class="page-portlet-footer row" ng-show="data.expenses">
  <div class="col-sm-offset-1 col-sm-10 col-lg-offset-2 col-lg-8">
    <button   ng-click="ctrl.loadMore()"
              ng-disabled="!meta.hasMore"
              ng-class="{'btn-primary':meta.hasMore, 'btn-link':!meta.hasMore}"
              class="btn btn-lg btn-block"
              type="button">Load more</button>
  </div>
</div>
