## Numerous always-ignore items
*.diff
*.err
*.log
*.swp
*.vi
*~
*.sass-cache

## OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
Thumbs.db
desktop.ini
nbproject
*.sublime-workspace
.idea

## Folders to ignore
coverage
dist
node_modules
src/vendor

## Files to ignore
